<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>829708974913-7hs0j4720u433849s2keu1fmrhmb5n9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.829708974913-7hs0j4720u433849s2keu1fmrhmb5n9e</string>
	<key>API_KEY</key>
	<string>AIzaSyAPGKXe8vxoSjKsxk2IQ0iKofyv2eu4mGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>829708974913</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.TestTrashQuest</string>
	<key>PROJECT_ID</key>
	<string>testtrashquest-fd765</string>
	<key>STORAGE_BUCKET</key>
	<string>testtrashquest-fd765.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:829708974913:ios:bef77dd4f54e7458</string>
	<key>DATABASE_URL</key>
	<string>https://testtrashquest-fd765.firebaseio.com</string>
</dict>
</plist>